.container {
    .header {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .navItem {
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}