.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;

  .title {
    max-width: 460px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
